body {
	margin: 0;
	padding: 0;
}

#boids-wrapper {
	margin: 0;
	padding: 0;
}

#boids-canvas {
	margin: 0;
	padding: 0;
	border: none;
	background-color: rgb(52, 51, 50);
	display: block;
}

label {
	display: block;
	margin-left: 20px;
	margin-top: 20px;
}

input {
	display: block;
	margin-left: 20px;
}

#controls {
	margin-bottom: 50px;
}